<template name="eventsList">
  <div class="events">
    <label class="only-beginner">
      <input type="checkbox" checked="{{onlyBeginner}}" />
      Beginner
    </label>

    <label class="only-intermediate">
      <input type="checkbox" checked="{{onlyIntermediate}}" />
      Intermediate
    </label>
    
    <h3>Swing Events</h3>
    {{#each arrayify groupedDates}}
      <h3>{{formatDate date}}</h3>
      {{#each value}}
        {{> eventItem}}
      {{/each}}
    {{/each}}
  </div>
</template>
