<template name="promoterItem">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <address>
          <strong>Tango John's</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>

      </div>
      <div class="col-md-8">
        <a href="http://farm1.staticflickr.com/48/178802491_f12387bb60.jpg" title="Title: 20060627a_EPS0009Crop<br></b>Posted By Flickr User: <a href='http://flickr.com/photos/furcafe/'>furcafe</a><br>Taken: 2006-06-27<br><a href='http://www.flickr.com/photos/furcafe/178802491/in/pool-710035@N23'>View Original on Flickr</a><b>" rel="lightbox[fav]" class="hoverZoomLink col-md-1">
        <img src="http://farm1.staticflickr.com/48/178802491_f12387bb60_s.jpg" alt="Title: 20060627a_EPS0009Crop<br></b>Posted By Flickr User: <a href='http://flickr.com/photos/furcafe/'>furcafe</a><br>Taken: 2006-06-27<br><a href='http://www.flickr.com/photos/furcafe/178802491/in/pool-710035@N23'>View Original on Flickr</a><b>" border="0" width="75" height="75">
      </a>
      </div>

      <div class="col-md-4">
        Calendar of Events
      </div>
      
      <div class="col-md-4">
        Testimonials
      </div>
    </div>
  </div>
</template>
